## import the packages :

In [1]:
import pandas as pd

## load data

In [15]:
#usd ois curve
#deposite
df1 = pd.DataFrame({
    "Tenor" : ['ON','TN','S/N','1W','2W','3W','1M','2M','3M','6M','9M'],
    "Rate Used":[1.60,1.59,1.59,1.59,1.59,1.59,1.59,1.58,1.57,1.51,1.45]
})
#swap
df2 = pd.DataFrame({
    "Tenor" : ['1Y','2Y','3Y','4Y','5Y','6Y','7Y','8Y','9Y','10Y','12Y','15Y','20Y','25Y','30Y'],
    "Rate Used":[1.38,1.22,1.12,1.14,1.15,1.16,1.18,1.21,1.24,1.27,1.31,1.37,1.43,1.45,1.46]
})

#usd 3m libor
df3 = pd.DataFrame({
    "Tenor" : ['ON','TN','S/N','1W','2W','3W','1M','2M','3M'],
    "Rate Used":[1.75] * 9
})
df4 = pd.DataFrame({
    "Tenor" : ['F1','F2','F3','F4','F5','F6','F7','F8'],
    "Rate Used":[98.35,98.47,98.60,98.64,98.75,98.79,98.81,98.78]
})

df5 = pd.DataFrame({
    "Tenor" : ['3Y','4Y','5Y','6Y','7Y','8Y','9Y','10Y','12Y','15Y','20Y','25Y','30Y'],
    "Rate Used":[1.34,1.33,1.33,1.35,1.37,1.40,1.43,1.46,1.51,1.57,1.63,1.65,1.66]
}) 

#usd 1m/3m libor
df6 = pd.DataFrame({
    "Tenor" : ['ON','TN','S/N','1W','2W','3Y','4Y','5Y','7Y','10Y','12Y','15Y','20Y','25Y','30Y'],
    "Rate Used":[15,12,10,9] + [8] * 11
}) 

#usd 3m/6m libor
df7 = pd.DataFrame({
    "Tenor" : ['ON','TN','S/N','1W','2W','3Y','4Y','5Y','7Y','10Y','12Y','15Y','20Y','25Y','30Y'],
    "Rate Used":[20,15,12,11] + [10] * 11
})

In [16]:
# to see what is df , in fact it's just the same as slids 30
# this cell can be delete before uploading . 

df = [df1,df2,df3,df4,df5,df6,df7]
df

[   Tenor  Rate Used
 0     ON       1.60
 1     TN       1.59
 2    S/N       1.59
 3     1W       1.59
 4     2W       1.59
 5     3W       1.59
 6     1M       1.59
 7     2M       1.58
 8     3M       1.57
 9     6M       1.51
 10    9M       1.45,
    Tenor  Rate Used
 0     1Y       1.38
 1     2Y       1.22
 2     3Y       1.12
 3     4Y       1.14
 4     5Y       1.15
 5     6Y       1.16
 6     7Y       1.18
 7     8Y       1.21
 8     9Y       1.24
 9    10Y       1.27
 10   12Y       1.31
 11   15Y       1.37
 12   20Y       1.43
 13   25Y       1.45
 14   30Y       1.46,
   Tenor  Rate Used
 0    ON       1.75
 1    TN       1.75
 2   S/N       1.75
 3    1W       1.75
 4    2W       1.75
 5    3W       1.75
 6    1M       1.75
 7    2M       1.75
 8    3M       1.75,
   Tenor  Rate Used
 0    F1      98.35
 1    F2      98.47
 2    F3      98.60
 3    F4      98.64
 4    F5      98.75
 5    F6      98.79
 6    F7      98.81
 7    F8      98.78,
    Tenor  Rate Used
 0     3Y       1.34
 1     4Y       1.33
 2     5Y       1.33
 3     6Y       1.35
 4     7Y       1.37
 5     8Y       1.40
 6     9Y       1.43
 7    10Y       1.46
 8    12Y       1.51
 9    15Y       1.57
 10   20Y       1.63
 11   25Y       1.65
 12   30Y       1.66,
    Tenor  Rate Used
 0     ON         15
 1     TN         12
 2    S/N         10
 3     1W          9
 4     2W          8
 5     3Y          8
 6     4Y          8
 7     5Y          8
 8     7Y          8
 9    10Y          8
 10   12Y          8
 11   15Y          8
 12   20Y          8
 13   25Y          8
 14   30Y          8,
    Tenor  Rate Used
 0     ON         20
 1     TN         15
 2    S/N         12
 3     1W         11
 4     2W         10
 5     3Y         10
 6     4Y         10
 7     5Y         10
 8     7Y         10
 9    10Y         10
 10   12Y         10
 11   15Y         10
 12   20Y         10
 13   25Y         10
 14   30Y         10]

## define the functions

In [19]:
def oiscurve(df1,df2):
    """use the first table to get the ois curve"""
    return yieldcurve

def libor3m(ois_curve,df3,df4,df5):
    """use the got ois curve and the info in table2 to get the 3mlibor"""
    return yieldcurve
    
def libor1m(ois_curve,libor_curve_3m,df6):
    """use 3mliborcurve , oiscurve , and 1m/3m spread , to calculate 1mliborcurve"""
    return yieldcurve

def libor6m(ois_curve,libor_curve_3m,df7):
    """use 3mliborcurve , oiscurve , and 6m/3m spread , to calculate 6mliborcurve"""

def priced(curve):
    """calculate deposite rate from a curve"""
    return df1

def prices(curve):
    """calculate swap rate from a curve"""
    return df2

def pricef(curve):
    """calculate future price from a curve"""
    return df4

def franpv(notional,start,end,ois_curve,rate):
    """calculate notional of start * end ATM rate frome oiscurve"""
    return npv

def swapnpv(notional,start,end,ois_curve,rate):
    """calculate notional of start * end ATM swap rate frome oiscurve"""
    return npv

def spreadnpv(ois_curve,libor_curve_3m,spread):
    """calculate spreat = 1 , what is the npv of the 5th instrument of the portfolio"""
    return npv

## calculation
### bootstrap multi-yield curve

In [18]:
ois_curve = oiscurve(df1,df2)
libor_curve_3m = libor3m(ois_curve,df3,df4,df5)
libor_curve_1m = libor1m(ois_curve,df6)
libor_curve_1m = libor6m(ois_curve,df7)

#plot this 4 curve in 1 photo
#plt.show()

NameError: name 'oiscurve' is not defined

## confirm self consistent

In [ ]:
df1r = priced(ois_curve)
df2r = prices(ois_curve)
df3r = priced(libor_curve_3m)
# ...

## ATM rate

In [ ]:
#A * r + B = npv
#r = 1 , npvp = A + B
#r = -1 , npvm = -A + B
#A * r0 + B = 0 , r0 = (npvp+npvm)/(npvm-npvp)
npvp = franpv(200,9,12,ois_curve,1)
npvm = franpv(200,9,12,ois_curve,-1)
r1 = (npvp+npvm)/(npvm-npvp)

#r2 = fra(-150,9,12,ois_curve)
#r3 = swap(300,10,10,ois_curve)
#r4 = swap(-100,5,5,ois_curve)

pd.DataFrame({
    "instrument No.":[1,2,3,4]
    "ATM rate":[r1,r2,r3,r4]
})

## Spread

In [ ]:
p = spreadnpv(ois_curve,libor_curve_3m,1)
m = spreadnpv(ois_curve,libor_curve_3m,-1)

(m+p)/(m-p)

## risk report

In [ ]:
def portfolio(ois_curve,libor_curve_3m):
    npv = np.array([franpv(200,9,12,ois_curve,r1),
                    franpv(-150,6,12,ois_curve,r2),
                    swapnpv(300,10,10,ois_curve,r3),
                    swapnpv(-100,10,10,ois_curve,r4),
                    spreadnpv(ois_curve,libor_curve_3m,r5)
                   ]).sum()
    return npv

for change in ??:
    df[change] = df[change] + 0.01
    port[change] = portfolio(oicurve(??),libor3m(??))
    
port